
body{
    margin: 0;
    color: black;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
   
}
.logo{
    margin-top: 30px;
}
.right{
    position: absolute;
    width: 40%;
    height: 90%;
    background-color: white;
    right: 10%;
    top: 5%;
    box-shadow: white 5px 5px 15px ;

}

.bg{
    
    position: absolute;
    height: 100%;
    width: 100%;
    float: left;
}

.header{
    margin-left: 30px;
    margin-top: 30px;
}
.inp{
    width: 370px;
    height: 25px;
    background: none;
    border-bottom: black  solid px;
    border-right: 0px;
    color: black;
    margin: 15px;
    font-size: 17px;
}
.inp:focus{
    
    outline: none;
   
   }

#emf:valid:focus{
    border-bottom: black solid 1px;
}
#emf:invalid:focus{
    border-bottom: rgb(197, 45, 45) solid 1px;
}

#radio{
    font-size: 17px;
    padding-top: 20px;
    
}
form{
    position: absolute;
    left: 1%;
    top: 15%;   
}

table{
    font-size: 15px;
}
table td{
    align:left;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    font-size: 17px;
    background: none;
    border: black solid 3px;
    color: white;
}
.terms{
    margin-top: 30px;
}
.sign{
    margin: 30px;
}
button:hover{
    border: none;
    background-color: black;
    color: white;

}
.terms{
    font-size: 17px;
}
.link{
    color: #43e8d2;
}
.error{
    color: red;
    display: none;
    margin-left: 8px;
}


.weak{
    border-bottom: red 1px solid;
}
.weak:focus{
    border-bottom: red 1px solid;
}
.med{
    border-bottom: red 1px solid;
}
.med:focus{
    border-bottom: red 1px solid;
}
.strong{
    border-bottom: red 1px solid;
}
.strong:focus{
    border-bottom: red 1px solid;
}

